/* Fuente */
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap");
/* reseteo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Signika Negative", sans-serif;
}

/* Titulos */
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../img/background.jpg);
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}
body .index__title,
body .experiencia__title,
body .card__title,
body .faq__title,
body .asesoramiento__title,
body .nosotros__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 1rem;
}

#nav__container {
  border-radius: 0px 0px 10px 10px;
}
#nav__container .nav__nombre-logo {
  font-weight: bold;
}
#nav__container .nav__nombre-logo .nav__logo {
  width: 5rem;
  margin: 10px;
}
#nav__container .nav__section {
  list-style-type: none;
  display: flex;
  font-size: smaller;
}
#nav__container .nav__section .nav__section__li {
  padding: 5px;
}
#nav__container .nav__section .nav__section__li .nav__section--link {
  text-decoration: none;
  font-weight: bold;
  background-image: linear-gradient(0deg, black, black);
  background-repeat: no-repeat;
  background-size: 0% 2px;
  background-position: left bottom;
  transition: background-size 400ms ease-in-out;
}
#nav__container .nav__section .nav__section__li .nav__section--link:hover {
  background-size: 100% 2px;
}
#nav__container .nav__contact {
  list-style-type: none;
  display: flex;
  flex-direction: inherit;
  justify-content: space-around;
}
#nav__container .nav__contact .nav__contact__li {
  padding: 5px;
}
#nav__container .nav__contact .nav__contact__li .nav__contact--link {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

#footer__container {
  color: white;
  background-color: rgb(20, 20, 20);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 2%;
}
#footer__container .footer__sections {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}
#footer__container .footer__sections .footer__sections__li {
  padding: 5px;
}
#footer__container .footer__sections .footer__sections__li .footer__sections--link {
  text-decoration: none;
  color: white;
}
#footer__container .footer__contact {
  list-style-type: none;
  display: flex;
  flex-direction: inherit;
  justify-content: space-around;
  flex-direction: column;
  padding-left: 0;
}
#footer__container .footer__contact .footer__contact__li {
  padding: 5px;
}
#footer__container .footer__contact .footer__contact__li .footer__contact--link {
  text-decoration: none;
  color: white;
}
#footer__container .footer__nombre-logo {
  margin-right: 10px;
  padding-left: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#footer__container .footer__nombre-logo .footer__nombre {
  display: none;
  font-size: 1.2rem;
  padding-right: 1rem;
}
#footer__container .footer__nombre-logo .footer__logo {
  width: 4rem;
}

/* Copyright */
#copyright__container {
  background-color: rgb(23, 23, 23);
}
#copyright__container .copyright__p {
  text-align: center;
  font-size: 0.8rem;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  /* footer */
  #footer__container {
    align-items: center;
    flex-direction: row;
  }
  #footer__container .footer__nombre-logo {
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #footer__container .footer__nombre-logo .footer__logo {
    width: 4rem;
  }
  #footer__container .footer__nombre-logo .footer__nombre {
    display: block;
  }
}
@media (min-width: 1024px) {
  /* Nav */
  .nav__section {
    font-size: initial;
  }
}
#asesoramiento__container {
  display: grid;
  grid-template-columns: 1rf;
  grid-template-rows: auto;
  grid-template-areas: "info" "imgCmd";
  align-items: center;
  justify-items: center;
  margin: 10px;
}
#asesoramiento__container .asesoramiento__info {
  grid-area: info;
  grid-column: 1;
  grid-row: 1;
}
#asesoramiento__container .asesoramiento__img-1 {
  width: 16rem;
  grid-area: imgCmd;
  grid-column: 1;
  grid-row: 2;
  border-radius: 15px;
  transition: all 500ms ease;
}
#asesoramiento__container .asesoramiento__img-1:hover {
  transform: scale(1.05);
}

@media (min-width: 768px) {
  #asesoramiento__container {
    display: grid;
    grid-template-columns: 2fr 1rf;
    grid-template-rows: auto;
    grid-template-areas: "info imgCmd";
  }
  #asesoramiento__container .asesoramiento__info {
    grid-column: 1;
    grid-row: 1;
  }
  #asesoramiento__container .asesoramiento__img-1 {
    grid-column: 2;
    grid-row: 1;
  }
}
#experiencia__container {
  margin: 10px;
}
#experiencia__container .descripcion {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "descripcion " "descripcionImg";
  align-items: center;
  justify-items: center;
}
#experiencia__container .descripcion .descripcion__p {
  grid-area: descripcion;
  grid-column: 1;
  grid-row: 1;
}
#experiencia__container .descripcion .descripcion__img {
  width: 20rem;
  grid-area: descripcionImg;
  grid-column: 1;
  grid-row: 2;
  transition: all 500ms ease;
  border-radius: 15px;
}
#experiencia__container .descripcion .descripcion__img:hover {
  transform: scale(1.05);
}
@media (min-width: 360px) {
  #experiencia__container .descripcion .descripcion__img {
    width: 22rem;
  }
}
@media (min-width: 768px) {
  #experiencia__container .descripcion {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "descripcion descripcionImg";
    align-items: center;
  }
  #experiencia__container .descripcion .descripcion__p {
    grid-column: 1;
    grid-row: 1;
  }
  #experiencia__container .descripcion .descripcion__img {
    width: 40rem;
    grid-column: 2;
    grid-row: 1;
  }
}

/* FAQ */
/* FAQ Grid */
#faq__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "cards cards cards" "span span span" "form form form";
  row-gap: 0.5rem;
  justify-items: center;
  align-items: center;
  margin: 10px;
}
#faq__container .section__card {
  display: flex;
  flex-wrap: wrap;
  grid-area: cards;
  justify-content: space-around;
}
#faq__container .section__card .faq__card {
  color: white;
  background-color: rgba(0, 0, 0, 0.553);
  padding: 1.5rem;
  border-radius: 15px;
  margin: 1.5rem;
  transition: all 500ms ease;
}
#faq__container .section__card .faq__card:hover {
  transform: scale(1.05);
}
#faq__container .section__card .faq__card .card__title {
  padding-bottom: 1rem;
}
#faq__container .section__card__span {
  grid-area: span;
  grid-column: 2;
}
#faq__container .section__form {
  grid-area: form;
  width: -webkit-fill-available;
  width: 80%;
}
#faq__container .section__form .faq__formulario {
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  align-items: center;
  justify-items: center;
}

/* Index */
#index__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  row-gap: 20px;
  min-height: 100vh;
  margin: 10px;
  align-items: center;
  justify-items: center;
  grid-template-areas: "bienvenida" "img" "map" "horarios";
}
#index__container .index__bienvenida {
  font-size: 1rem;
  padding: 0rem 1rem 0rem 1rem;
  grid-area: bienvenida;
  grid-row: 1;
  grid-column: 1;
}
#index__container .index__img {
  width: 20rem;
  border-radius: 25px;
  transition: all 500ms ease;
  grid-area: img;
  grid-column: 1;
  grid-row: 2;
}
#index__container .index__img:hover {
  transform: scale(1.05);
}
#index__container .index__section__map {
  grid-area: map;
  grid-column: 1;
  grid-row: 3;
}
#index__container .index__section__map .index__map__title {
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 0.8rem;
}
#index__container .index__section__map .index__container__iframe {
  position: relative;
}
#index__container .index__section__map .index__container__iframe .index__map {
  width: 18rem;
  height: 15rem;
  border-radius: 20px;
  transition: all 500ms ease;
}
#index__container .index__section__map .index__container__iframe .index__map:hover {
  transform: scale(1.05);
}
#index__container .index__horarios {
  grid-area: horarios;
  justify-content: center;
  grid-column: 1;
  grid-row: 4;
}
#index__container .index__horarios .index__horarios__title {
  text-align: center;
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
}
#index__container .index__horarios .index__horarios__p {
  font-size: 1rem;
  padding: 0rem 1rem 0rem 1rem;
}

@media (min-width: 768px) {
  /* index */
  #index__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: 0;
    min-height: 100vh;
    align-items: center;
    justify-items: center;
    grid-template-areas: "bienvenida map" "img horarios";
  }
  #index__container .index__bienvenida {
    padding-left: 3rem;
    padding-right: 2rem;
    grid-column: 1;
    grid-row: 1;
  }
  #index__container .index__img {
    grid-column: 1;
    grid-row: 2;
  }
  #index__container .index__section__map {
    grid-column: 2;
    grid-row: 1;
  }
  #index__container .index__section__map .index__map {
    width: 15rem;
    height: 20rem;
  }
  #index__container .index__horarios {
    grid-column: 2;
    grid-row: 2;
  }
}
#nosotros__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "info" "foto";
  align-items: center;
  justify-items: center;
  margin: 10px;
}
#nosotros__container .nosotros__info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  grid-area: info;
  grid-row: 1;
  grid-column: 1;
}
#nosotros__container .nosotros__info .nosotros__tile--first,
#nosotros__container .nosotros__info .nosotros__tile--second {
  margin: 1rem 0 1rem 0;
}
#nosotros__container .nosotros__placa-madre {
  width: 15rem;
  grid-area: foto;
  grid-row: 2;
  grid-column: 1;
  border-radius: 10px;
  transition: all 500ms ease;
}
#nosotros__container .nosotros__placa-madre:hover {
  transform: scale(1.1);
}

@media (min-width: 768px) {
  #nosotros__container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "info foto";
    align-items: center;
    justify-items: center;
  }
  #nosotros__container .nosotros__info {
    grid-area: info;
    grid-column: 1;
    grid-row: 1;
  }
  #nosotros__container .nosotros__placa-madre {
    grid-area: foto;
    grid-column: 2;
    grid-row: 1;
  }
}

/*# sourceMappingURL=style.css.map */
