/* Fuente */
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap");
/* reseteo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Signika Negative", sans-serif;
}

/* Nav & Footer */

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgb(0, 0, 0, 0)),
    url(../img/background.jpg);
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

#nav__container {
  border-radius: 0px 0px 10px 10px;
}

.nav__logo {
  width: 5rem;
  margin: 10px;
}

.nav__nombre-logo {
  font-weight: bold;
}

.nav__section,
.footer__sections {
  list-style-type: none;
  display: flex;
}

.nav__section {
  font-size: smaller;
}

.nav__section__li,
.footer__sections__li {
  padding: 5px;
}

.nav__section--link:hover {
  background-size: 100% 2px;
}

.nav__section--link {
  text-decoration: none;
  font-weight: bold;
  background-image: linear-gradient(0deg, black, black);
  background-repeat: no-repeat;
  background-size: 0% 2px;
  background-position: left bottom;
  transition: background-size 400ms ease-in-out;
}

.nav__contact,
.footer__contact {
  list-style-type: none;
  display: flex;
  flex-direction: inherit;
  justify-content: space-around;
}

.nav__contact__li,
.footer__contact__li {
  padding: 5px;
}

.nav__contact--link,
.nav__title,
.footer__title,
.footer__contact--link {
  text-decoration: none;
  color: white;
}

.nav__contact--link {
  font-size: 1.5rem;
}

.nav__nombre,
.footer__nombre {
  font-size: 1.2rem;
  padding-right: 1rem;
}

#footer__container {
  color: white;
  background-color: rgb(20, 20, 20);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 2%;
}

.footer__sections,
.footer__contact {
  flex-direction: column;
  padding-left: 0;
}

.footer__logo {
  width: 4rem;
}

.footer__nombre-logo {
  margin-right: 10px;
  padding-left: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer__nombre {
  display: none;
}

.footer__sections--link {
  text-decoration: none;
  color: white;
}

/* Copyright */

#copyright__container {
  background-color: rgb(23, 23, 23);
}

.copyright__p {
  text-align: center;
  font-size: 0.8rem;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
}

/* Containers */
#index__container,
#faq__container,
#nosotros__container,
#experiencia__container,
#asesoramiento__container {
  margin: 10px;
}

/* Titulos */
.index__title,
.experiencia__title,
.card__title,
.faq__title,
.asesoramiento__title,
.nosotros__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 1rem;
}

/* FAQ */
/* FAQ Grid */
#faq__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "cards cards cards"
    "span span span"
    "form form form";
  row-gap: 0.5rem;
  justify-items: center;
  align-items: center;
}

.consulta__div {
  padding: 10px;
}

.faq__card {
  color: white;
  background-color: rgba(0, 0, 0, 0.553);
  padding: 1.5rem;
  border-radius: 15px;
  margin: 1.5rem;
}

.card__title {
  padding-bottom: 1rem;
}

.section__form {
  grid-area: form;
  width: -webkit-fill-available;
  width: 80%;
}

.section__card {
  display: flex;
  flex-wrap: wrap;
  grid-area: cards;
  justify-content: center;
}

.section__card__span {
  grid-area: span;
  grid-column: 2;
}

.faq__formulario {
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  align-items: center;
  justify-items: center;
}

/* Nosotros */

.nosotros__placa-madre {
  width: 15rem;
  border-radius: 10px;
  transition: all 500ms ease;
}

.nosotros__placa-madre:hover {
  transform: scale(1.1);
}

.nosotros__info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.nosotros__info h3 {
  margin: 1rem 0 1rem 0;
}
/* Nosotros-grid */

#nosotros__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "info"
    "foto";
  align-items: center;
  justify-items: center;
}

/* Experiencia */

.descripcion {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "descripcion "
    "descripcionImg";
  align-items: center;
}

.descripcion__p {
  grid-area: descripcion;
}

.descripcion__img {
  width: 19rem;
  grid-area: descripcionImg;
}

/* Asesoamiento */

.asesoramiento__img-1 {
  width: 16rem;
}

/* Index */

.index__bienvenida {
  font-size: 1rem;
  padding: 0rem 1rem 0rem 1rem;
}

.index__container__iframe {
  position: relative;
}

.index__map {
  width: 18rem;
  height: 15rem;
  border-radius: 20px;
  transition: all 500ms ease;
}

.index__img {
  width: 20rem;
  border-radius: 25px;
  transition: all 500ms ease;
}

.index__img:hover,
.index__map:hover {
  transform: scale(1.05);
}

.index__map__title {
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 0.8rem;
}

.index__horarios__title {
  text-align: center;
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
}

.index__horarios__p {
  font-size: 1rem;
  padding: 0rem 1rem 0rem 1rem;
}

/* Index-grid */

#index__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  row-gap: 20px;
  min-height: 100vh;
  align-items: center;
  justify-items: center;
  grid-template-areas:
    "bienvenida"
    "img"
    "map"
    "horarios";
}

.index__bienvenida {
  grid-area: bienvenida;
}

.index__img {
  grid-area: img;
}

.index__section__map {
  grid-area: map;
}

.index__horarios {
  grid-area: horarios;
  justify-content: center;
}

/* MEDIA QUERYS */
@media (min-width: 768px) {
  /* index */
  .index__map {
    width: 15rem;
    height: 20rem;
  }

  #index__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: 0;
    min-height: 100vh;
    align-items: center;
    justify-items: center;
    grid-template-areas:
      "bienvenida map"
      "img horarios";
  }

  .index__bienvenida {
    padding-left: 3rem;
    padding-right: 2rem;
  }
  /* footer */
  #footer__container {
    align-items: center;
  }

  .footer__logo {
    width: 4rem;
  }

  .footer__nombre-logo {
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__nombre {
    display: block;
  }
  #footer__container {
    flex-direction: row;
  }

  /* Nosotros-grid */
  #nosotros__container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "info foto";
    align-items: center;
    justify-items: center;
  }

  .nosotros__info {
    grid-area: info;
  }

  .nosotros__placa-madre {
    grid-area: foto;
  }

  /*  FAQ Grid */
  #faq__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "cards cards"
      "span span"
      "form form";
    row-gap: 0.5rem;
    justify-items: center;
    align-items: center;
  }
  /* Experiencia */
  .descripcion {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "descripcion descripcionImg";
    align-items: center;
  }
  .descripcion__img {
    width: 40rem;
  }
}

@media (min-width: 1024px) {
  /* Nav */

  .nav__section {
    font-size: initial;
  }

  /* index */
  .index__map {
    width: 20rem;
    height: 30rem;
  }

  .index__bienvenida {
    padding-left: 6rem;
    padding-right: 2rem;
  }

  /* FAQ Grid */
  #faq__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "cards cards cards"
      "span span span"
      "form form form";
    row-gap: 0.5rem;
    justify-items: center;
    align-items: center;
  }
}
